PROJECT_NAME=Reel-Review

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=reel-review-db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Ports (Configurable)
FRONTEND_PORT=3000
BACKEND_PORT=8000
DB_VIEWER_PORT=8080
PROXY_PORT=80
